@page "/menu-categories"
@using SchoolV01.Shared.ViewModels.Menus;
@inject Microsoft.Extensions.Localization.IStringLocalizer<Menus> localizer

<style>
    .mud-table-container {
        overflow: auto;
    }

</style>

<MudText Typo="Typo.h6" Color="Color.Primary">@localizer["MenuCategoriesDescription"] </MudText>


<MudTable Class="my-4" Elevation="4" ServerData="ServerReload"
          Hover="true" @ref="_table" Breakpoint="Breakpoint.Sm" Loading="@loaded" LoadingProgressColor="Color.Primary"
          OnRowClick="RowClickEvent" T="MenuCategoryViewModel">

    <ToolBarContent>
        <div class="justify-center mud-text-align-center">
            @if (_isAdmin)
            {
               <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="@(() => InvokeAddEditModal(0))" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Surface">@localizer["New"] </MudButton>
            }
           <MudButton Variant="Variant.Filled" OnClick="@(() => OnSearch(""))" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">@localizer["Reload"] </MudButton>
        </div>
        <MudSpacer />
        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder=@localizer["Search"] Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>

    <HeaderContent>
        <MudTh><MudTableSortLabel T="MenuCategoryViewModel" SortLabel="Name">@localizer["Name"] </MudTableSortLabel></MudTh>
        <MudTd DataLabel="IsActive">@localizer["IsActive"] </MudTd>
        <MudTd DataLabel="Visible">@localizer["Visible For User"] </MudTd>
        <MudTh >@localizer["Actions"] </MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd DataLabel="Name">
            <MudHighlighter Text="@context.NameAr" HighlightedText="@searchString" />
        </MudTd>
        <MudTd DataLabel="Active?"><MudCheckBox T="bool" @bind-Value="@context.IsActive" @oninput="@(() => SoftDeleteMenuCategory(@context.Id))" @onclick:stopPropagation Color="Color.Secondary"></MudCheckBox></MudTd>
        <MudTd DataLabel="Visible"><MudCheckBox T="bool" @bind-Value="@context.IsVisableUser" Disabled Color="Color.Secondary"></MudCheckBox></MudTd>
            <MudTd DataLabel="Actions" Style="text-align: right">
            <MudButton Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" @onclick="@(() => InvokeAddEditModal(@context.Id))">@localizer["Edit"]</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" @onclick="@(() =>  _navigationManager.NavigateTo($"/menus/{@context.Id}"))">@localizer["ViewMenus"]</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" @onclick="@(() => SoftDeleteMenuCategory(@context.Id))">@localizer["Delete"]</MudButton>
            </MudTd>
        </RowTemplate>
        </MudTable>

