@inject Microsoft.Extensions.Localization.IStringLocalizer<AddEditOwnerModal> _localizer

<EditForm Model="@AddEditOwnerModel" OnValidSubmit="SaveAsync">
    <FluentValidationValidator @ref="_fluentValidationValidator" />
    <MudDialog>
        <TitleContent>
            @{
                if (AddEditOwnerModel.Id == 0)
                {
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-3 mb-n1" />
                        @_localizer["Add Owner"]
                    </MudText>
                }
                else
                {
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.Update" Class="mr-3 mb-n1" />
                        @_localizer["Update Owner"]
                    </MudText>
                }
            }
        </TitleContent>
        <DialogContent>
            <MudGrid>
                @if (AddEditOwnerModel.Id != 0)
                {
                    <MudItem xs="12" md="6">
                        <MudTextField Disabled For="@(() => AddEditOwnerModel.Id)" @bind-Value="AddEditOwnerModel.Id" Label="@_localizer["Id"]" />
                    </MudItem>
                }
                <MudItem xs="12" md="6">
                    <MudTextField For="@(() => AddEditOwnerModel.Name)" @bind-Value="AddEditOwnerModel.Name" Label="@_localizer["Name"]" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField For="@(() => AddEditOwnerModel.Description)" @bind-Value="AddEditOwnerModel.Description" Label="@_localizer["Description"]" />
                </MudItem>
				
<MudItem xs="12" md="6">
                                                            <MudAutocomplete T="int" Label="@_localizer["Passport"]" For="@(()=>AddEditOwnerModel.PassportId)" @bind-Value="AddEditOwnerModel.PassportId" ResetValueOnEmptyText="true" SearchFunc="@SearchPassports" Variant="Variant.Filled" ToStringFunc="@(i=>_passports.FirstOrDefault(b=>b.Id == i)?.Name ?? string.Empty)"  />
                                               </MudItem> 
				@*
                <MudItem xs="12" md="6">
                    <MudAutocomplete T="int" Label="@_localizer["Brand"]" For="@(() => AddEditOwnerModel.BrandId)" @bind-Value="AddEditOwnerModel.BrandId" ResetValueOnEmptyText="true" SearchFunc="@SearchBrands" Variant="Variant.Filled" ToStringFunc="@(i => _brands.FirstOrDefault(b => b.Id == i)?.Name ?? string.Empty)"  />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField For="@(() => AddEditOwnerModel.Rate)" @bind-Value="AddEditOwnerModel.Rate" Label="@_localizer["Rate"]" />
                </MudItem>
				*@

                <MudItem xs="12" md="6">
                    <MudItem>
                        <MudAvatar Image="@(AddEditOwnerModel.ImageDataURL)" Square="true" Style="height: auto; width: auto; max-height: 100%"> </MudAvatar>
                    </MudItem>
                    <MudItem>
                        <InputFile id="fileInput" hidden OnChange="UploadFiles" />
                        <div>
                            <MudButton HtmlTag="label"
                                       Variant="Variant.Text"
                                       Color="Color.Primary"
                                       Size="Size.Small"
                                       StartIcon="@Icons.Material.Filled.CloudUpload"
                                       for="fileInput">
                                @_localizer["Upload"]
                            </MudButton>
                            @if (!string.IsNullOrEmpty(AddEditOwnerModel.ImageDataURL))
                            {
                                <MudButton Variant="Variant.Text"
                                           Color="Color.Info"
                                           StartIcon="@Icons.Material.Filled.RemoveRedEye"
                                           Size="Size.Small"
                                           Link="@(AddEditOwnerModel.ImageDataURL)" Target="_blank">
                                    @_localizer["View"]
                                </MudButton>
                                <MudButton Variant="Variant.Text"
                                           Color="Color.Error"
                                           StartIcon="@Icons.Material.Filled.Delete"
                                           Size="Size.Small"
                                           OnClick="DeleteAsync">
                                    @_localizer["Delete"]
                                </MudButton>
                            }
                        </div>
                    </MudItem>
                </MudItem>
            </MudGrid>
        </DialogContent>
        <DialogActions>
           <MudButton Variant="Variant.Filled" OnClick="Cancel">@_localizer["Cancel"]</MudButton>
            @if (AddEditOwnerModel.Id != 0)
            {
               <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Disabled="@(!Validated)" Color="Color.Secondary">@_localizer["Update"]</MudButton>
            }
            else
            {
               <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Disabled="@(!Validated)" Color="Color.Success">@_localizer["Save"]</MudButton>
            }
        </DialogActions>
    </MudDialog>
</EditForm>