@page "/individual-details/{PersonId:int}"
@inject Microsoft.Extensions.Localization.IStringLocalizer<AddEditPerson> _localizer
@using SchoolV01.Shared.Constants.Clients
@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
            <EditForm Model="@AddEditPersonModel" OnValidSubmit="SaveAsync">
                <FluentValidationValidator @ref="_fluentValidationValidator" />
                <MudCard Elevation="4">
                    <MudCardHeader>
                        @if (AddEditPersonModel.Id == 0)
                        {
                            <MudText Typo="Typo.h6">
                                <MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-3 mb-n1" />
                                @_localizer["Add Person"]
                            </MudText>
                        }
                        else
                        {
                            <MudText Typo="Typo.h6">
                                <MudIcon Icon="@Icons.Material.Filled.Update" Class="mr-3 mb-n1" />
                                @_localizer["Update Person"]
                            </MudText>
                        }
                    </MudCardHeader>
                    <MudCardContent>
                        <MudGrid>
                            <MudItem xs="12" sm="12" md="9">
                                <MudGrid>


                                    <MudItem xs="12" md="4">
                                        <MudTextField For="@(() => AddEditPersonModel.FullName)" @bind-Value="AddEditPersonModel.FullName" Label="@_localizer["Arabic Full Name"]" Variant="MudBlazor.Variant.Outlined" />
                                        <MudText Color="Color.Error">*</MudText>
                                    </MudItem> 
                                    
                                    <MudItem xs="12" md="4">
                                        <MudTextField For="@(() => AddEditPersonModel.FullNameEn)" @bind-Value="AddEditPersonModel.FullNameEn" Label="@_localizer["English Full Name"]" Variant="MudBlazor.Variant.Outlined" />
                                        <MudText Color="Color.Error">*</MudText>
                                    </MudItem>  
                                    
                                    <MudItem xs="12" md="4">
                                        <MudTextField For="@(() => AddEditPersonModel.FatherName)" @bind-Value="AddEditPersonModel.FatherName" Label="@_localizer["Arabic Father Name"]" Variant="MudBlazor.Variant.Outlined" />
                                        <MudText Color="Color.Error">*</MudText>
                                    </MudItem>     
                                    <MudItem xs="12" md="4">
                                        <MudTextField For="@(() => AddEditPersonModel.FatherNameEn)" @bind-Value="AddEditPersonModel.FatherNameEn" Label="@_localizer["English Father Name"]" Variant="MudBlazor.Variant.Outlined" />
                                        <MudText Color="Color.Error">*</MudText>
                                    </MudItem>       
                                    
                                    <MudItem xs="12" md="4">
                                        <MudTextField For="@(() => AddEditPersonModel.NickName)" @bind-Value="AddEditPersonModel.NickName" Label="@_localizer["Arabic NickName"]" Variant="MudBlazor.Variant.Outlined" />
                                        <MudText Color="Color.Error">*</MudText>
                                    </MudItem>    
                                    <MudItem xs="12" md="4">
                                        <MudTextField For="@(() => AddEditPersonModel.NickNameEn)" @bind-Value="AddEditPersonModel.NickNameEn" Label="@_localizer["English NickName"]" Variant="MudBlazor.Variant.Outlined" />
                                        <MudText Color="Color.Error">*</MudText>
                                    </MudItem>
                                  
                                    <MudItem xs="12" md="4">
                                        <MudSelect @bind-Value="@AddEditPersonModel.Sex" T="string" Label="@_localizer["Sex"]" AnchorOrigin="Origin.BottomCenter" Variant="MudBlazor.Variant.Outlined">
                                            @foreach (var value in Sexes.Values)
                                            {
                                                <MudSelectItem T="string" Value="@value.Key">@_localizer[@value.Value]</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </MudItem>
                                      <MudItem xs="12" md="4">
                                        <MudTextField For="@(() => AddEditPersonModel.Phone)" @bind-Value="AddEditPersonModel.Phone" Label="@_localizer["Phone"]" Variant="MudBlazor.Variant.Outlined" />
                                         <MudText Color="Color.Error">*</MudText>
                                    </MudItem>
                                    
                                    
                                    <MudItem xs="12" md="4">
                                        <MudTextField For="@(() => AddEditPersonModel.Mobile1)" @bind-Value="AddEditPersonModel.Mobile1" Label="@_localizer["Mobile1"]" Variant="MudBlazor.Variant.Outlined" />
                                         <MudText Color="Color.Error">*</MudText>
                                    </MudItem>   


                                    <MudItem xs="12" md="4">
                                        <MudTextField For="@(() => AddEditPersonModel.Mobile2)" @bind-Value="AddEditPersonModel.Mobile2" Label="@_localizer["Mobile2"]" Variant="MudBlazor.Variant.Outlined" />
                                    </MudItem>
                                     <MudItem xs="12" md="4">
                                        <MudTextField For="@(() => _registerUserModel.Password)" InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility" @bind-Value="_registerUserModel.Password" Label="@_localizer["Password"]" Variant="MudBlazor.Variant.Outlined" />
                                        <MudText Color="Color.Error">*</MudText>
                                    </MudItem>

                                    <MudItem xs="12" md="4">
                                        <MudTextField For="@(() => _registerUserModel.ConfirmPassword)" InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" @bind-Value="_registerUserModel.ConfirmPassword" OnAdornmentClick="TogglePasswordVisibility" Label="@_localizer["ConfirmPassword"]" Variant="MudBlazor.Variant.Outlined" />
                                        <MudText Color="Color.Error">*</MudText>
                                    </MudItem>
                       
                                    <MudItem xs="12" md="4">
                                        <MudDatePicker @bind-Date="AddEditPersonModel.BirthDate" Culture="System.Globalization.CultureInfo.InvariantCulture" DateFormat="d/MM/yyyy" Label="@_localizer["BirthDate"]" DisableToolbar="true" AutoClose="true" Elevation="12" InputVariant="MudBlazor.Variant.Outlined" />
                                    </MudItem>

                          
                                 <MudItem xs="12" md="4">
                                     <MudAutocomplete T="int" Label="@_localizer["Country"]"
                                                      Value="@AddEditPersonModel.CountryId"
                                                      ValueChanged="OnCountryChanged" ResetValueOnEmptyText="true"
                                                      SearchFunc="@SearchCountrys"
                                                         ToStringFunc="CountryToString" OffsetY="true" Variant="MudBlazor.Variant.Outlined" />
                                 </MudItem>
                                  <MudItem xs="12" md="4">
                                     <MudAutocomplete T="int" Label="@_localizer["City"]"
                                                         @bind-Value="@AddEditPersonModel.CityId"
                                                      SearchFunc="@SearchCitys"
                                                         ToStringFunc="CityToString" OffsetY="true" Variant="MudBlazor.Variant.Outlined" />
                                 </MudItem>       
                                 
                                 
                                 <MudItem xs="12" md="4">
                                        <MudAutocomplete T="int?" Label="@_localizer["Classification"]"
                                                         @bind-Value="@AddEditPersonModel.ClassificationId"
                                                         SearchFunc="@SearchClassifications"
                                                         ToStringFunc="ClassificationToString" OffsetY="true" Variant="MudBlazor.Variant.Outlined" />
                                 </MudItem>
                           
                                  
                            
                                  
                                    <MudItem xs="12" md="4">
                                        <MudTextField For="@(() => AddEditPersonModel.Fax)" @bind-Value="AddEditPersonModel.Fax" Label="@_localizer["Fax"]" Variant="MudBlazor.Variant.Outlined" />
                                    </MudItem>
                                    <MudItem xs="12" md="4">
                                        <MudTextField For="@(() => AddEditPersonModel.MailBox)" @bind-Value="AddEditPersonModel.MailBox" Label="@_localizer["MailBox"]" Variant="MudBlazor.Variant.Outlined" />
                                    </MudItem>
                                    <MudItem xs="12" md="4">
                                        <MudTextField For="@(() => AddEditPersonModel.Address)" @bind-Value="AddEditPersonModel.Address" Label="@_localizer["Address"]" Variant="MudBlazor.Variant.Outlined" />
                                    </MudItem>
                                    <MudItem xs="12" md="4">
                                        <MudTextField For="@(() => AddEditPersonModel.Email)" @bind-Value="AddEditPersonModel.Email" Label="@_localizer["Email"]" Variant="MudBlazor.Variant.Outlined" />
                                       
                                    </MudItem>


                                    <MudItem xs="12" md="4">
                                        <MudTextField For="@(() => AddEditPersonModel.Job)" @bind-Value="AddEditPersonModel.Job" Label="@_localizer["Job"]" Variant="MudBlazor.Variant.Outlined" />

                                    </MudItem>


                                    <MudItem xs="12" md="4">
                                        <MudTextField For="@(() => AddEditPersonModel.Qualification)" @bind-Value="AddEditPersonModel.Qualification" Label="@_localizer["Qualification"]" Variant="MudBlazor.Variant.Outlined" />

                                    </MudItem>
                                   

                                    <MudItem xs="12" md="12">
                                        <MudTextField Lines="2" For="@(() => AddEditPersonModel.AdditionalInfo)" @bind-Value="AddEditPersonModel.AdditionalInfo" Label="@_localizer["AdditionalInfo"]" Variant="MudBlazor.Variant.Outlined" />
                                    </MudItem>
                                   
                                </MudGrid>
                            </MudItem>

                            <MudItem xs="12" md="3">
                                @*upload company images*@
                                <MudCard Elevation="4" Class="mb-5">
                                    <MudCardHeader>
                                        <CardHeaderAvatar>
                                            <MudAvatar Color="Color.Secondary">
                                                <MudIcon Icon="@Icons.Material.Outlined.InsertPhoto" />
                                            </MudAvatar>
                                        </CardHeaderAvatar>
                                        <CardHeaderContent>
                                            <MudText Typo="Typo.body1">@_localizer["Upload Personal Image"]</MudText>
                                        </CardHeaderContent>
                                    </MudCardHeader>
                                    @if (!string.IsNullOrEmpty(AddEditPersonModel.PersomImageUrl))
                                    {
                                        <MudCardMedia Align="center" Class="ml-2 mr-2 rounded-lg" Image="@(AddEditPersonModel.PersomImageUrl.Replace('\\','/'))" Height="150" />
                                    }
                                    <MudCardActions>
                                        <InputFile id="imageInput1" OnChange="UploadPersonImage" hidden />
                                        <div>
                                            <MudButton HtmlTag="label"
                                                       Variant="MudBlazor.Variant.Text"
                                                       Color="Color.Primary"
                                                       Size="Size.Small"
                                                       StartIcon="@Icons.Material.Filled.CloudUpload"
                                                       for="imageInput1">
                                                @_localizer["Upload"]
                                            </MudButton>
                                            @if (!string.IsNullOrEmpty(AddEditPersonModel.PersomImageUrl))
                                            {
                                                <MudButton Variant="MudBlazor.Variant.Text"
                                                           Color="Color.Info"
                                                           StartIcon="@Icons.Material.Filled.RemoveRedEye"
                                                           Size="Size.Small"
                                                           Link="@(AddEditPersonModel.PersomImageUrl)" Target="_blank">
                                                    @_localizer["View"]
                                                </MudButton>
                                                <MudButton Variant="MudBlazor.Variant.Text"
                                                           Color="Color.Error"
                                                           StartIcon="@Icons.Material.Filled.Delete"
                                                           Size="Size.Small"
                                                           OnClick="DeletePersonImageAsync">
                                                    @_localizer["Delete"]
                                                </MudButton>
                                            }
                                        </div>
                                    </MudCardActions>
                                </MudCard>
                           
                              
                            
                          


                                @*upload file cv*@
                                <MudCard Elevation="4" Class="mb-5">
                                    <MudCardHeader>
                                        <CardHeaderAvatar>
                                            <MudAvatar Color="Color.Secondary">
                                                <MudIcon Icon="@Icons.Material.Outlined.InsertPhoto" />
                                            </MudAvatar>
                                        </CardHeaderAvatar>
                                        <CardHeaderContent>
                                            <MudText Typo="Typo.body1">@_localizer["CV File"]</MudText>
                                        </CardHeaderContent>
                                    </MudCardHeader>


                                <InputFile id="fileInput" OnChange="SelectFile" hidden />
                                <MudButton id="fileInputButton"
                                           HtmlTag="label"
                                           Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           StartIcon="@Icons.Material.Filled.CloudUpload"
                                           for="fileInput">
                                    @_localizer["UploadFile"]
                                </MudButton>
                                @if (_files != null)
                                {
                                    <MudList T="bool" id="FilesList">
                                        @if (_files.Count() != 0)
                                        {
                                            @foreach (var file in _files)
                                            {
                                                <MudListItem Icon="@Icons.Material.Filled.AttachFile" @key="@file">
                                                    @file.Name
                                                    <MudButton Variant="Variant.Text" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" Size="Size.Small" OnClick="DeleteFileAsync"></MudButton>

                                                </MudListItem>
                                            }
                                        }
                                        else
                                        {
                                            if (!string.IsNullOrEmpty(AddEditPersonModel.CvFileUrl))
                                            {
                                                <MudListItem Icon="@Icons.Material.Filled.AttachFile">
                                                    File Uploaded
                                                    <MudIconButton Icon="@Icons.Material.Filled.FileDownload" Color="Color.Secondary" Link=@(@AddEditPersonModel.CvFileUrl) @onclick:stopPropagation Target="_blank"></MudIconButton>
                                                    <MudButton Variant="Variant.Text" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" Size="Size.Small" OnClick="DeleteFileAsync"></MudButton>
                                                </MudListItem>

                                            }
                                        }

                                    </MudList>
                                }


                                    </MudCard>
                            </MudItem>


                        </MudGrid>

                    </MudCardContent>
                    <MudCardActions Class="d-flex justify-end flex-grow-1 gap-4 mr-2">
                        <MudButton DisableElevation Variant="MudBlazor.Variant.Filled" OnClick="RedirectToPersonsPage">@_localizer["Cancel"]</MudButton>
                            @if (AddEditPersonModel.Id != 0)
                        {
                            <MudButton DisableElevation Variant="MudBlazor.Variant.Filled" ButtonType="MudBlazor.ButtonType.Submit" Disabled="@(!Validated)" Color="Color.Secondary">@_localizer["Update"]</MudButton>
                        }
                        else
                        {
                            <MudButton DisableElevation Variant="MudBlazor.Variant.Filled" ButtonType="MudBlazor.ButtonType.Submit" Disabled="@(!Validated)" Color="Color.Success">@_localizer["Save"]</MudButton>

                        }
                    </MudCardActions>
                </MudCard>
            </EditForm>
        </MudItem>
    </MudGrid>
}



