@page "/General-Settings/Classifications"
@using SchoolV01.Application.Features.Classifications.Queries
@using SchoolV01.Client.Resources.Pages.Settings
@attribute [Authorize(Policy = Permissions.Classifications.View)]
@inject Microsoft.Extensions.Localization.IStringLocalizer<Classifications> _localizer

<HeroTitle Title="@_localizer["Classifications"]" Description="@_localizer["Manage Classifications"]" />

<MudTable Items="@Elements" Hover="true" @ref="_table" CanCancelEdit="true" SortLabel="Sort By" CommitEditTooltip="Save" T="GetAllClassificationsResponse" ReadOnly="!_canEditClassification"
          Dense="@_dense" Bordered="@_bordered" Striped="@_striped" CancelEditTooltip="Cancel" RowEditCommit="@(async(e)=>await ItemHasBeenCommitted((GetAllClassificationsResponse)e))" 
          Loading=@loading Filter="new Func<GetAllClassificationsResponse,bool>(FilterFunc)" MultiSelection="false">

    <ToolBarContent>
        <div class="justify-center mud-text-align-center">
            <AuthorizeView Policy="@Permissions.Cities.Create" Context="Auth">
               <MudButton Variant="Variant.Filled" Color="Color.Success" @onclick="@(() => InvokeAddEditModalAsync())" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Surface">@_localizer["Create"] </MudButton>
            </AuthorizeView>
           <MudButton Variant="Variant.Filled" OnClick="LoadData" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">@_localizer["Reload"]</MudButton>
           <MudButton Variant="Variant.Filled" OnClick="ExportToExcel" StartIcon="@Icons.Custom.FileFormats.FileExcel" IconColor="Color.Secondary" Color="Color.Surface">@_localizer["Export"]</MudButton>
        </div>
        <MudSpacer />
        <MudTextField T="string" @bind-Value="searchString" Placeholder=@_localizer["Search"] Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>

    <HeaderContent>
        <MudTd><MudTableSortLabel SortBy="new Func<GetAllClassificationsResponse, object>(x=>x.NameAr)"><strong>@_localizer["Name /Ar"]</strong></MudTableSortLabel> </MudTd>
        <MudTd><MudTableSortLabel SortBy="new Func<GetAllClassificationsResponse, object>(x=>x.NameEn)"><strong>@_localizer["Name /En"]</strong></MudTableSortLabel> </MudTd>
        <MudTh>@_localizer["Actions"]</MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd DataLabel="Name">
            <MudHighlighter Text="@context.NameAr" HighlightedText="@searchString" />
        </MudTd>
        <MudTd DataLabel="Name">
            <MudHighlighter Text="@context.NameEn" HighlightedText="@searchString" />
        </MudTd>
 
        <MudTd DataLabel="Actions">
            <AuthorizeView Policy="@Permissions.Classifications.Delete" Context="Auth">
                <MudButton StartIcon="@Icons.Material.Filled.Delete" @onclick="@(() => Delete(context.Id))" Color="Color.Error" Variant="Variant.Filled" Size="Size.Small" Style="margin: 7px">
                    @_localizer["Delete"]
                </MudButton>
            </AuthorizeView>
        </MudTd>
    </RowTemplate>

    <RowEditingTemplate>
        <MudTd DataLabel="Name">
            <MudTextField @bind-Value="@context.NameAr" Variant="Variant.Outlined" Margin="Margin.Dense" Required RequiredError="@_localizer["You must enter name"]" />
        </MudTd>
        <MudTd DataLabel="Name">
            <MudTextField @bind-Value="@context.NameEn" Variant="Variant.Outlined" Margin="Margin.Dense" Required RequiredError="@_localizer["You must enter name"]" />
        </MudTd>
      
    </RowEditingTemplate>
    <PagerContent>
        <TablePager />
    </PagerContent>
</MudTable>
<div class="d-flex flex-wrap mt-4">
    <MudSwitch T="bool" @bind-Value="@_dense" Color="Color.Secondary" Style="margin-left: 5px;">@_localizer["Dense"]</MudSwitch>
    <MudSwitch T="bool" @bind-Value="@_striped" Color="Color.Tertiary" Style="margin-left: 5px;">@_localizer["Striped"]</MudSwitch>
    <MudSwitch T="bool" @bind-Value="@_bordered" Color="Color.Warning" Style="margin-left: 5px;">@_localizer["Bordered"]</MudSwitch>
</div>